<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Bienvenido al Admin</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <h3 class="text-center">Productos</h3>

      <div class="list-group">
        <a routerLink="/productos" class="list-group-item list-group-item-action">
          Lista completa de productos, repuestos y accesorios - Para buscar por referencia, modelo, nombre
        </a>
        <a routerLink="/productos/lista-ordenada" class="list-group-item list-group-item-action">
          Escoger Marca y tipo (Producto, Repuesto, Combo) - Filtrar por nombre
        </a>
        <a routerLink="/productos/por-marca-categoria" class="list-group-item list-group-item-action">
          Busqueda ordenada por Marca y Categoria
        </a>
      </div>

    </div>
    <div class="col">
      <h3 class="text-center">Compras</h3>

      <div class="list-group">
        <a routerLink="/compras" class="list-group-item list-group-item-action">
          Lista de Compras
        </a>
      </div>
    </div>
    <div class="col">
      <h3 class="text-center">Ordenes</h3>

      <div class="list-group">
        <a routerLink="/ordenes" class="list-group-item list-group-item-action">
          Lista de Ordenes
        </a>
      </div>
    </div>
    <div class="col">
      <h3 class="text-center">Inventario</h3>

      <div class="list-group">
        <a routerLink="/gestion-inventario" class="list-group-item list-group-item-action">
          Crear Inventario
        </a>
        <a routerLink="/gestion-inventario/consulta-individual" class="list-group-item list-group-item-action">
          Consultar Inventario
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="text-center">Ventas</h3>

      <div class="list-group">
        <a routerLink="/ventas-pos" class="list-group-item list-group-item-action">
          Lista de Ventas
        </a>
      </div>
    </div>

    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
